* {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
body.adminhtml {
    background-color: rgb(104 104 104) !important;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.botao,
.btn-newsletter {
    margin-bottom: 20px;
    background-color: #c2783c;
    border: none;
    border-radius: 5px;
    color: #FFF;
    padding: 5px 15px;
    width: 30%;
}
a,
span {
    opacity: 0.6;
    color: black;
}
.input-number {
    text-align: right;
}
a:hover,
i.icon-instagram:hover {
    opacity: 1;
    text-decoration: none !important;
    color: black;
}
span.success-message {
    background-color: #6c9d6c;
    color: #FFF !important;
    border-radius: 10px;
    padding: 12px 15px;
}
.container.SeuCarrinho {
    padding-bottom: 10%;
}
/* BEGIN HOME LOGIN | ADMIN */
body.login-page-admin div.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 500px;
    height: 300px;
    background-color: #323232;
    border-radius: 5px;
}
form.login-form {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-grid;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.botao-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.erro-message {
    background-color: #e53a3a;
    padding: 10px 10px;
    display: inline-flex;
    border-radius: 10px;
    margin-bottom: 10px;
    width: auto;
    opacity: 1;
    color: #FFF !important;
}
footer.rodape{
    background-color: #ff914d;
    padding: 30px 50px;
}
/* END   HOME LOGIN | ADMIN */

/* BEGIN PAINEL | ADMIN */
body.painel-admin {
    background-color: rgb(104 104 104) !important;
}
.icon-seta-baixo:before {
    font-size: 10px;
    color: #c7954c;
}
ul {
    list-style: none;
}
/* END   PAINEL | ADMIN */
.thumbnail {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}
.bg-eventos {
    background: #ff914d;
    width: 90%;
    height: 415px;
    position: absolute;
    left: 5%;
    top: 120px;
}
.img-central img {
    margin: auto;
    margin-bottom: 30px;
}
.box-evento-info span {
    font-size: 30px;
    color: white;
}
.container.os-mais-vendidos {
    margin-bottom: 20px;
}
.box-eventos .box-evento-info {
    margin-top: 160px;
}
.box-eventos {
    position: relative;
    margin-bottom: 5%;
    margin-top: 100px;
}
li.nav-item {
    padding: 20px;
}
.search-area {
    margin: 25px 0;
}
.form-control:focus {
    border-color: #ffbd94;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 145 77);
}
.container-fluid.menu {
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.navbar-nav>li {
    float: initial;
    display: inline-block;
}
.navbar-nav {
    float: initial;
    text-align: center;
    padding: 0;
}
.navbar{
    margin-bottom: 0;
}
h1.logo {
    margin-top: 15px;
}
/* BEGIN LISTA CLIENTES | ADMIN */
tr {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
th, td {
    padding: 15px 5px;
}
th.table-title {
    text-align: center;
}
.qtd-clientes {
    margin: 15px 5px;
}
body.painel-admin a,
body.painel-admin span {
    opacity: 1;
    color: #c7954c;
}
/* END   LISTA CLIENTES | ADMIN */

/* BEGIN CABEÇALHO | ADMIN */
.menu {
    background-color: #FFF;
}
li.menu-items {
    text-align: center;
    padding: 15px;
    background-color: #FFF;
}
.logout {
    text-align: center;
    padding: 15px;
}
.header-admin {
    margin-bottom: 70px;
}
/* END   CABEÇALHO | ADMIN */

/* BEGIN EDIT | ADMIN */
input {
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
/* END   EDIT | ADMIN */















/* INICIO CABEÇALHO */
.header {
    height: auto;
    background-color: #fff;
}
.menu-item {
    display: block;
    text-align: center;
    padding: 9px;
}
input#search {
    border-bottom: 1px solid black!important;
    border: none;
    margin: 50px 0;
    opacity: 0.2;
}
.container-fluid.menu {
    background: #fff;
}
.rodape span,
.rodape a,
.rodape h3,
.rodape p,
.rodape strong,
.rodape small
 {
    color: white;
}
h4 a {
    color: #FFF;
}
h4 a:hover {
    color: #FFF;
    text-decoration: none;
}
/* FIM CABEÇALHO */

/* INICIO BANNER */
div.title {
    text-align: center;
}
/* FIM BANNER */

/* INICIO CONTEUDO PRINCIPAL */
.title {
    padding-bottom: 20px;
    padding-top: 20px;
}
/* CARRINHO*/
.title-carrinho {
    padding-bottom: 60px;
}
.subtotal, .preco {
    margin-bottom: 25px;
}
.conteudo-carrinho-valores {
    margin-bottom: 30px;
}
button.btnFinalizar {
    padding: 10px 0;
    width: 60%;
    color: white;
    background: #176521;
    margin-bottom: 30px;
    border: 1px solid #176521;
}
button.btnFinalizar:hover {
    background: #0f4c17;
    border: 1px solid #0f4c17;
}
/*FIM CARRINHO*/
.item-conteudo {
    margin-bottom: 30px;
}
.item-conteudo .item-name{
    padding: 10px;
}
/* FIM CONTEUDO PRINCIPAL */

/* INICIO NEWSLETTER */
.container.newsletter-block {
    background-color: #000;
    border-radius: 15px;
}
.campo {
    background-color: #585858 !important;
    border: none;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
/* FIM NEWSLETTER */

/* INICIO RODAPE */
.footer-externa {
    background-color: #000;
    margin-top: 35px;
}
i.icon-instagram {
    font-size: 30px;
    color: rgb(224, 172, 94);
    position: relative;
    top: 6px;
    margin-right: 4px;
}
.redes {
    margin: 30px 0px;
}
/* FIM RODAPE */

.conteudo {
    padding-bottom: 20px;
}



/* INICIO ESTILO MOBILE */
@media only screen and (max-width: 991px) {
    button.btn-newsletter {
        margin: 13px 0px;
        width: 100%;
    }
    .rede-externa {
        margin: 5px 0px;
    }
}